[2016-03-21 08:01] digititus opened #1 "Contact page - disqus"
Hi,
Loving the theme! Nice work.
I noticed that static pages 'About' and "Home' have disqus disabled. This is great. How do I go about disabling on 'Contact' page?  Is a custom template required? page-contact.hbs for example?
Thanks

[2016-03-21 10:24] kelyvin commented on #1
Hi Digititus, I'm glad to hear you are enjoying the theme so far!

To answer your question, I'm guessing you want to create a "contact" static page. If that is the case, then you are correct, it is definitely easier to create a custom template for that.

If you envision having a lot of static pages, and you want all of them to have disqus disabled, I would even suggest creating a brand new partial

[2016-03-21 15:32] digititus commented on #1
Thanks. I created page-contact.hbs with the same content as page-about.hbs and edited accordingly. Works great!

[2016-03-21 17:48] kelyvin commented on #1
Awesome! Glad to hear it! I will close this out then.

[2016-03-21 17:48] #1 closed

[2016-05-07 23:28] andrewlock opened #2 "Posts page broken in Safari Private browsing"
Hi Kelvin,

First off nice theme - I plan on adapting it for my new blog soon.

I noticed you've switched to using localStorage in place of js-cookie. I was wondering what the bug you refer to is in the update?

Unfortunately the switch to store.js means the theme is currently broken when store is not available, which happens for example in Safari Private browsing mode. As someone that uses privat

[2016-05-07 23:54] andrewlock opened #3 "Invalid sass in _mixins.scss"
When trying to build the project using `gulp build`, I get the following error:

       The selector "btn-cover" was not found.
       Use "@extend btn-cover !optional" if the extend should be able to fail.
        on line 47 of assets/scss/modules/_mixins.scss

This is caused by the mixin btn-cover-with-border:

[code]

The final `@extend btn-cover;` should probably be changed to `@include btn-co

[2016-05-08 21:16] kelyvin commented on #2
Hi Andrew,

First off, thanks for checking out the theme and I'm glad you're liking it so far! Also, thanks for thoroughly going through multiple user scenarios to help discover these kind of issues!

I switched from js-cookie to store.js because I realized some of the limitations of cookies if I wanted to implement some more advanced features in the future. Potentially in the future I may want to

[2016-05-08 23:20] kelyvin commented on #3
You are absolutely correct and this should definitely be change to `@include`.

I did not get this build issue because I had not updated my gulp-sass module version in a while. This most likely did not give me an issue because presumably there was a bug in my version of gulp-sass. I also experienced this issue on my other machine several weeks ago, so thanks for the catch!

No need for a pull requ

[2016-05-08 23:29] kelyvin commented on #2
Thanks again for reporting this issue. It should now be resolved in the latest commit: https://github.com/kelyvin/caffeine-theme/commit/e75490b4633df874ed8bcc7690f9356f8a5bb6e7

This fix will render the posts page correctly and let me know if you still run into any other issues.

[2016-05-08 23:29] #2 closed

[2016-05-08 23:30] kelyvin commented on #3
The fix for this should now be part of the latest commit: https://github.com/kelyvin/caffeine-theme/commit/e75490b4633df874ed8bcc7690f9356f8a5bb6e7

Thanks again for the catch!

[2016-05-08 23:30] #3 closed

[2016-05-13 13:41] fbgrecojr opened #5 "MailChimp Content Modification"
I am trying to modify the mailchimp content by editing the `cover.js` files as the `README` instructs. Here is my code:

[code]

[2016-05-13 18:59] kelyvin commented on #5
Hi fbgrecojr,

Have you tried running `gulp build` before zipping up the package? That command will rebuild the JS files with your latest changes.

I will also take this as an action item for myself to implement a better way for users to easily edit this info. Stay tuned....

[2016-05-13 19:19] fbgrecojr commented on #5
Good point!!!

When I do an `npm install` and `gulp build` I get this:

[code]

[2016-05-13 20:41] kelyvin commented on #5
Yes I think you are! Can you also run `bower install` before you run `gulp build`?
`bower install` will create the vendor directory for you with all the files you're missing

Let me know if that helps!

[2016-05-13 22:40] fbgrecojr commented on #5
worked like a charm! Thanks :)

[2016-05-13 22:40] #5 closed

[2016-05-19 13:07] pandaforme opened #7 "How to support Scala/Java syntax highlight"
I would like to add Scala/Java syntax highlight, but I don't know how to do it.

I tried to modify `assets/vendor/prism/gulpfile.js` and execute `gulp build`, but it doesn't work...

Please give me some hints, thanks

[2016-05-19 15:17] andrewlock commented on #7
You need to add the correct prism language `.js` file to `gulpfile.js` so looks like you were nearly there.

Update the `src.js.vendor` object and add the paths to your language files just after `prism.js`. It should look something like this:

[code]

Then in your ghost editor you need to indicate which language to use for a block using the following syntax:

<pre><code>
This is example code for j

[2016-05-20 04:57] kelyvin commented on #7
Thanks for answering @andrewlock! Yep he is correct, this should be the appropriate way to do it.

[2016-05-20 16:27] pandaforme commented on #7
I've tried to modify `caffeine-theme\gulpfile.js` and add two language files: `assets/vendor/prism/components/prism-java.min.js` and `assets/vendor/prism/components/prism-scala.min.js', and execute `gulp build`.

@andrewlock

[2016-05-20 17:22] andrewlock commented on #7
Do you get any errors when you run `gulp build`?

[2016-05-20 19:59] kelyvin commented on #7
Building a docker image for this is a little overkill so I don't want to get into that just yet and want to focus more on helping you figure out the problem in case others encounter the same issue

When you say you "can't see the home page", does the app load but you get a blank white screen? If so, can you open up your developer tools to see if there is an error on the console? If you don't see t

[2016-05-20 20:25] andrewlock commented on #7
Just for reference, my npm version is 2.7.4 and node version is 0.12.2.

[2016-05-21 17:19] pandaforme commented on #7
I've upgraded npm to 3.9.3 and followed the instructions: https://github.com/kelyvin/caffeine-theme#first-steps.

I cloned a new caffeine-theme repo and don't modify any thing.
Then executing `gulp`, I can't see any article and button.

<img width="1280" alt="screen shot 2016-05-22 at 00 55 40" src="https://cloud.githubusercontent.com/assets/3078300/15449731/ed47b320-1fb8-11e6-8146-ab052c24a7bf.pn

[2016-05-21 17:34] andrewlock commented on #7
Very strange, `lunr.js` is included as part of the `ghostHunter.js` library which is built in the vendor section that you are modifying. Could you post your `gulpfile.js` so we can take a look?

Cheers

[2016-05-22 22:54] kelyvin commented on #7
Thanks a bunch @pandaforme for your patience and for reporting this issue. I have figured out the issue given the latest screenshots and @andrewlock validating the issue is from ghostHunter.js.

Since ghostHunter doesn't have any bower support or release tags, we are pulling the latest from master every time. Looks like ghostHunter had a major update in the past couple of months that switches some

[2016-05-24 05:55] pandaforme commented on #7
@kelyvin @andrewlock Thanks for your help, it works!
I can add prism java/scala language js file.

You can close the issue~

[2016-05-24 06:53] kelyvin commented on #7
woo hoo! Will do!

[2016-05-24 06:53] #7 closed

[2016-05-26 08:26] andrewlock commented on #7
Nice detective work @kelyvin 😄

[2016-05-30 21:30] Abhi347 opened #9 "How to remove the splash screen?"
Hey there,
Thanks a lot for the theme. Just wanted to know, how can I remove the splash screen and move directly to the home?

[2016-06-01 02:45] kelyvin commented on #9
Hi @Abhi347,

At the moment I haven't implemented an easy way to remove the splash screen and it will always be there by default. I will come up with a better solution in the following week to make this feature available easily for you.

I haven't tested this thoroughly, but you can try opening the `cover.js` file and commenting out the following line:

[code]

This may be good enough for now unti

[2016-06-05 12:10] Abhi347 commented on #9
Hi @kelyvin ,
I tried it, but it doesn't work. I can still see the splash. Let me know if there's any better way.

[2016-06-06 16:16] smoki99 opened #10 "Word Wrap didn't work in <code> area"
Hi there,

I had to add the following CSS to make "code" areas looking well in Chrome.

[code]

Maybe it would be good to make a change in CSS for this.

Kind Regards,

Christian

[2016-06-15 11:26] andrewlock opened #11 "Browser compatibility page is broken"
The browser compatibility page uses the title of the page instead of the blog's title.

Also, the conditional directive in default.hbs only redirects IE 9 to the browser compatibility page, not IE7, IE 8 etc

[2016-06-26 23:44] #11 closed

[2016-06-26 23:54] kelyvin commented on #10
Hi @smoki99,

Sorry for the late reply, I have been on vacation and just got back.

Thanks a bunch for the bug catch. This theme comes packaged with [prism.js](http://prismjs.com/), which usually fixes most code wrapping issues if you take advantage of it. I recommend using that religiously for any code block, but for  code blocks where prismjs is not used, I started seeing the issues you encounte

[2016-06-26 23:54] #10 closed

[2016-06-27 00:15] kelyvin commented on #9
Hi @Abhi347,

Thanks a bunch for your patience. I have been away on vacation and finally had the chance to catch up on these issues. I have made a feature enhancement to resolve your issue. The documentation on how to do this is available in the following section of the [README](https://github.com/kelyvin/caffeine-theme#disable-cover).

You can now get this feature from my latest [v2.7.6 release](

[2016-06-27 00:15] #9 closed

[2016-06-27 02:03] rudeyak commented on #9
Awesome!

[2016-07-14 21:27] Abhi347 opened #13 "Author Bio and Author Page"
It's a feature request, but it'd be nice to have an Author bio at the bottom of every post and a separate Author Page, just like the default theme.
Thanks :-)

[2016-07-15 17:31] kelyvin commented on #13
That's a great idea! I was thinking about this feature and was planning on implementing it when I had guest authors on my blog, but your request will compel me to get it out sooner.

Stay tuned!

[2016-08-13 17:04] antranthien opened #14 "Added other languages for Prismjs"
Hi,

I wish to add other languages support for Prismjs (Java, C#...). How should I go about doing that? I have downloaded my desired JS & CSS at http://prismjs.com/.

Thanks.

[2016-08-13 17:10] antranthien commented on #14
I saw there was a closed issue similar to this.

[2016-08-13 17:10] #14 closed

[2016-08-13 17:54] antranthien commented on #7
Hi, I tried adding "assets/vendor/prism/components/prism-java.min.js" to the gulpfile.js but the syntax for Java code doesn't get highlighted. Did I miss anything?

[2016-08-14 10:14] kelyvin commented on #7
Hi @antranthien, when you using prism.js, after you import the proper asset to the gulpfile, you have to make sure that when you're adding code blcoks to the markdown of your posts, that you properly define the language type of the code block. Similar to the highlighted portion of the image below.

![example_editor](https://cloud.githubusercontent.com/assets/1530102/17648520/ff7f29e6-61cc-11e6-8bd

[2016-08-14 10:18] kelyvin commented on #14
No problem, check my reply for your question here: https://github.com/kelyvin/caffeine-theme/issues/7#issuecomment-239665946

[2016-08-14 23:42] jjwedemyer opened #15 "Social Links"
Hey,
could there be a way of setting the social links in a script block like this

[code]

Another thought would be to set additional info like the title and the service in an js object

[code]

[2016-08-15 02:38] kelyvin commented on #15
Hi @jjwedemyer, thanks for the suggestion and it was definitely I've been thinking about implementing. I will add this to the roadmap and try to get this feature out as soon as I can. Stay tuned...

[2016-08-16 15:06] antranthien commented on #7
@kelyvin : Thanks. Got it working now :)

[2016-08-22 20:58] andrewlock opened #16 "GhostHunter search limited to 15 posts"
It is a limitation of the current implementation of the ghosthunter plugin, but currently only the latest 15 posts will be searched.

The version of ghosthunter we're using uses the RSS feed as it's source, which according to [this post](https://blog.liplex.de/show-more-then-15-posts-in-rss-in-ghost/) is hard coded to 15 posts.

It looks like the latest version uses the public ghost API, but that

[2016-09-02 09:14] andrewlock opened #18 "Test and add AMP support for Ghost 0.10.0"
It looks like AMP should work out of the box, but we need to check that everything works OK in the theme and potentially to tweak it to be more consistent with the rest of the site.

Details here: https://dev.ghost.org/custom-amp-themes/

[2016-09-02 21:38] kelyvin commented on #18
Thanks for putting in this request and I just saw it too! Very exciting stuff!

Unrelated to this theme, but I tried upgrading to 0.9.0 over the weekend (literally a day or two before .10.0 got released) and ran into some issues with the storage adapters and lodash. I reverted back down to 0.8.0 and plan to try debug the issues with 0.9.0 and then bump up to 0.10.0 right afterwards. If all of that

[2016-09-02 21:40] kelyvin commented on #16
I'm most likely going to wait until the public API gets out of beta before committing to the switchover :)

Also saw some new feature support come out of the new versions that have better support fetching the list of tags for your blog and etc. I will also look into those soon as well.

[2016-09-03 23:02] andrewlock commented on #16
Cool, yep completely agree with you RE the public API!

[2016-09-04 12:21] andrewlock commented on #18
Ah that's interesting, I just tried an update to 0.9.0 myself and had no problems with it, though I'm not using a custom storage adapter... I then updated to 0.10.0 and all still looked good, AMP worked perfectly and passed validation in the browser (add #development=1 to the url and inspect the dev tools console), so hopefully won't cause too many issues 😄

[2016-10-12 21:43] andrewlock commented on #18
Just a note that disqus also supports AMP pages too - I haven't dug into it, and the  fact you need two different hosts will be a deal breaker for a lot of people, but might be nice to add support for it:)

[Disqus for Accelerated Mobile Pages (AMP)](https://github.com/disqus/disqus-install-examples/tree/master/google-amp)

[2016-10-15 19:35] EKami opened #22 "Tables in html are not well rendered"
I just noticed that tables in html (and maybe other html objects?) are not well rendered.
For example take this table:

[code]

Here is how it looks like with the casper theme:
<img width="764" alt="table1" src="https://cloud.githubusercontent.com/assets/4030626/19412862/157d5e06-931f-11e6-9e9d-23d0a3012ac3.png">

And how it looks like with caffeine theme:

<img width="636" alt="table2" src="https

[2016-10-17 07:54] kelyvin commented on #18
Oh shoot so many new features!

I will look into  to this as soon as I can. The past couple of months have been crazy and a combination of studying + changing jobs + traveling + moving. Haven't even had time to blog! BUT, I am almost settled in, so I appreciate your patience!

Thanks!

[2016-10-17 07:57] kelyvin commented on #22
Hi @EKami,

Thanks for bringing this to my attention. I would say the best workaround would be to modify some of the SCSS stylesheets to improve the styling of the tables overall (borders, padding, backgrounds, etc).

Do you like how it looks on casper? If so, I can look into making the tables look just like them, and hopefully I can resolve your issues. Alternatively, feel free to change them you

[2016-10-17 07:58] andrewlock commented on #18
Congratulations on the new job! And don't feel bad, there's no pressure... That's the beauty of open source - if I needed it, I could have done a pull-request! 😄

[2016-10-17 18:08] EKami commented on #22
Hi @kelyvin
Thanks for acknowledging the issue. Actually the tables on casper are not really great neither but it is better than what caffeine gives us.

I can try to modify the SCSS and make a PR but I do not know what "style direction" you want to take with this project (and I'm a really bad UI designer). Btw I'm not sure on what file to change exactly (could you give me more info on this?).

Bt

[2016-11-10 15:30] LeoAnd95 opened #23 "How to remove disqus?"
Hi, I'm a Ghost newbie and I come from China.
In China, people can't use Disqus normally, so I want to remove the Disqus. However when I deleted partials/disqus-comment-count.hbs & comments.hbs. The Ghost page showed 404.
I have tried to modify the code in such .hbs, but it didn't work.
Please tell me how to work it out. Thank you!

[2016-11-10 18:42] kelyvin commented on #23
Hi,

You're almost there! After deleting those two partials, also open up `post.hbs` and delete line 30 that referernces the `comments.hbs` partial.

So you would want to delete the following line: https://github.com/kelyvin/caffeine-theme/blob/810ce719e45c926b8aadd7c2b1f181cc028fb333/post.hbs#L30

That should hopefully do it. Let me know if you run into any other issues!

[2016-11-11 04:50] LeoAnd95 commented on #23
@kelyvin Hi, Thanks for your help. But it doesn't work. As shown in figure, I have deleted `comments.hbs` and `disqus-comment-count.hbs`
![](http://ww2.sinaimg.cn/mw690/ac7a896fjw1f9o2grzzdij20g402h0sy.jpg)。

---

Also, I deleted line 30 that referernces the `comments.hbs` partial.
![](http://ww3.sinaimg.cn/mw690/ac7a896fjw1f9o2gs2hm0j20hj0b0t9e.jpg)

And I have `pm2 restart Ghost`. Howerver it di

[2016-11-11 05:18] LeoAnd95 commented on #23
In` post.hbs` the line 30 that references the comments.hbs.

Well, I found that in `default.hbs` the line 29 that references the `disqus-comment-count.hbs`. https://github.com/kelyvin/caffeine-theme/blob/master/default.hbs#L29.
I have deleted it and it didn't show 404 again.

[2016-11-11 05:44] #23 closed

[2016-11-11 06:40] kelyvin commented on #23
Awesome! Sorry it's been a while since I touched this codebase and forgot about that one too. Glad to hear you figured it out! :)

[2016-11-14 01:02] kelyvin commented on #22
Hey @EKami,

Thanks for your patience. I finally had a moment to take a look at this and I implemented a quick styling fix. You can find it in the latest release here: https://github.com/kelyvin/caffeine-theme/releases/tag/v2.7.7.

Please let me know if this is to your liking and let me know if there are any other enhancements/improvements you'd like me to make to it. I will close this but feel fr

[2016-11-14 01:02] #22 closed

[2016-11-14 09:41] EKami commented on #22
Hello @kelyvin . This is absolutely perfect. Thanks a lot for the fix :)

[2016-11-14 10:40] EKami opened #24 "Html <sup> are not rendered properly"
The `<sup>` html directive used to make an exponent is weird. Here is an example of what we get with the caffeine theme below:
<img width="53" alt="exponent1" src="https://cloud.githubusercontent.com/assets/4030626/20261643/fc91e284-aa5e-11e6-897f-fb07b754f889.png">

and with the casper theme:
<img width="42" alt="exponent2" src="https://cloud.githubusercontent.com/assets/4030626/20261653/087cc4ec

[2016-12-05 00:20] kelyvin commented on #24
Hi @EKami,

I have fixed this in the latest release and thanks for bringing this to my attention! You can find that here: https://github.com/kelyvin/caffeine-theme/releases/tag/v2.7.8

Thanks!
Kelvin

[2016-12-05 00:20] #24 closed

[2016-12-05 01:43] kelyvin commented on #18
HI @andrewlock,

It took almost two months, but I finally took a look at the AMP features and added better customizations to the AMP layout to better unify the Caffeine theme styling,  which you can find in the latest release here: https://github.com/kelyvin/caffeine-theme/releases/tag/v2.8.0.

I also went through the Google console to do an audit of any broken AMP pages and saw several things tha

[2016-12-05 01:43] #18 closed

[2016-12-05 11:30] kelyvin opened #25 "Add support for disqus amp"
Refer to title.

[2016-12-06 14:48] andrewlock commented on #18
Thanks, and good work! I'll take a look soon (have an equally busy time at the moment!) and will check it out:smile:

[2016-12-11 15:26] EKami commented on #24
Thanks a lot @kelyvin :)

[2016-12-11 15:30] EKami opened #26 "Some texts are out of bounds"
Hello,
Some of the texts including news and tables are sometimes out of boundaries.
Here is an example of what I get on the desktop rendering (chrome):
<img width="1159" alt="tuatini_s_blog1" src="https://cloud.githubusercontent.com/assets/4030626/21081060/e0e4fdda-bfbe-11e6-8ab5-5c7a11765b48.png">

and for the `<table>` here is what I get on Chrome for Android:
![screenshot_20161211-162329](https

[2016-12-12 01:20] kelyvin commented on #26
Uooooo okay thanks for bringing this to my attention! I will take a look at this asap

[2016-12-12 08:10] kelyvin commented on #26
Thanks for bringing this to my attention, I have fixed both issues and you can now grab them in the latest release (https://github.com/kelyvin/caffeine-theme/releases/tag/v2.8.1)!

To resolve the table overflow on mobile,  I made tables horizontally scrollable on smaller devices. I may look into a more responsive solution in the future, but for now this should be an adequate fix that doesn't ruin

[2016-12-12 08:10] #26 closed

[2016-12-12 10:29] EKami commented on #26
Again, thanks a lot @kelyvin :)

[2016-12-12 15:11] EKami opened #27 "Some tables are not known to be scrollable on mobile"
Hi @kelyvin ,
I'm reopening the previous issue #26, the tables on mobiles does not reveal to the user that they are scrollable.
For example with this table:
![screenshot_20161212-151219](https://cloud.githubusercontent.com/assets/4030626/21102321/01540916-c07e-11e6-9ed7-87e2a676e763.png)

You can't really know that there is a third column except if you magically scroll horizontally:
![screenshot_2

[2016-12-12 19:20] kelyvin commented on #27
Shoot thanks for bringing this to my attention again! I'll need to implement this more thoroughly, I was testing this purely on my laptop screen so I wasn't able to test a proper mobile experience or on a large desktop screen. I'll have a fix for you asap!

[2016-12-12 19:48] EKami commented on #27
Thanks a lot :)

[2016-12-13 06:00] kelyvin commented on #27
Hi @EKami,

I have enabled the scrollbar for mobile devices to always be visible. I've also fixed the border issue with the shrunken table. Those can be found in the following release: https://github.com/kelyvin/caffeine-theme/releases/tag/v2.8.2

Regarding the table shrinkage, unfortunately there's no easy way to manage the table width sizing across mobile/desktop devices and support responsivene

[2016-12-13 06:00] #27 closed

[2016-12-13 10:46] EKami commented on #27
Okay, thanks a lot for your consideration @kelyvin :)

[2016-12-26 03:59] jooncheez opened #28 "MailChimp subscribe not working"
I try to add MailChimp subscribe to my website.

This is what I add, exactly the same format as the example:

[code]

The subscribe button appears, but after I fill in name and email and click send, nothing happens. The link works, you can check it.

When I try the code from the example it does work and I receive a confirmation email.

[2017-01-01 00:33] kelyvin commented on #28
Hi @jooncheez,

You are just missing one part of the url. The subscribe feature makes an HTTP `POST` request to the mailchimp API to send the subscription request.

So modify your mailchimp url so that it looks like the following:
`//janvdkolk.us14.list-manage1.com/subscribe/post?u=18abd455664ef9cbac66fd316&id=ac22da35f1`

The only change I made was that `/post` was added right after the `/subscri

[2017-01-01 00:39] jooncheez commented on #28
Hi kelyvin,

Thanks for your support! I thought I did everything right, my bad. Sorry for opening an issue then, I'll try your method.

Very happy with the theme though, have a happy new year!

[2017-01-01 00:39] #28 closed

[2017-01-01 02:17] kelyvin commented on #28
Cool! Glad to hear it worked. Have a happy new year!

[2017-01-07 11:57] panagorn opened #29 "About Page"
Hello,
Loving the theme! Nice work.

I want to create an about page like your. Do i have to make a new post and make it static page? When i tried that i saw the circle image in the centre but it also changed the top banner image. In your web site the banner image shows the cover photo. Thank you

[2017-01-07 23:36] kelyvin commented on #29
Hi @panagorn,

Glad to hear you're enjoying the theme so far! The about pages uses a partial called `material-cover` which is located here. https://github.com/kelyvin/caffeine-theme/blob/master/partials/material-cover.hbs

In that file, I specify the banner image to be used on the about page. You can specify a new image, or you can use the default blog cover that you set within the Ghost admin pan

[2017-01-08 00:41] panagorn commented on #29
I created a static page but i just noticed that there is a page-aboud.hbs how can i configure my blog to use this?

[2017-01-08 08:59] kelyvin commented on #29
Follow the instructions here and that should detail it for you. The same convention is used in this theme as well.

http://academy.ghost.org/creating-a-custom-page-template-on-ghost/

[2017-01-13 09:14] kelyvin commented on #25
No longer a priority for me

[2017-01-13 09:14] #25 closed

[2017-01-13 09:15] kelyvin commented on #29
HI @panagorn, I'm going to close this issue if you are no longer running into any problems. Feel free to reopen it if you still get stuck. Thanks!

[2017-01-13 09:15] #29 closed

[2017-02-08 18:42] francoisgervais opened #31 "Copyright information in footer.hbs is incorrect"
Hello!

Great work on this theme! I did notice a small issue with copyright title:
https://github.com/francoisgervais/caffeine-theme/commit/c24597722a20b4771e60ed3825fe8346cdd19025

The way you have it right now, the page title is being relayed, which works on the main page but not in articles:
![](http://i.imgur.com/qsbD0dC.png)
![](http://i.imgur.com/mGc9s6X.png)
![](http://i.imgur.com/22sSvmF.p

[2017-02-08 19:18] francoisgervais opened #32 "Navigation buttons spacing"
Hello,

Another quick issue & possible improvement: navigation buttons in the call to action container get squished when the screen width forces them on two lines.

It's mostly an issue with mobile browsers, could be an issue in a normal browser if someone had a ton of navigation links.

![](http://i.imgur.com/RfWD3lN.png)
![](http://i.imgur.com/skfeCtq.png)

Fixed it on my end by adding a 5px ver

[2017-02-10 07:29] kelyvin commented on #31
Thanks for finding this issue @francoisgervais! I have checked in the fix with the latest [v2.8.4 release](https://github.com/kelyvin/caffeine-theme/releases/tag/v2.8.4).

[2017-02-10 07:29] #31 closed

[2017-02-10 07:29] kelyvin commented on #32
Thanks for finding this issue @francoisgervais! I have checked in the fix with the latest [v2.8.4 release](https://github.com/kelyvin/caffeine-theme/releases/tag/v2.8.4).

[2017-02-10 07:29] #32 closed

[2017-02-20 15:06] MatteoJoliveau opened #35 "Homepage blank when using any other JS injection besides JQuery on desktop"
When I try to inject any other js library besides JQuery in the footer the homepage appears blank.
It works on mobile though.
Tested on two separated computer with both Chrome and Edge.

![image](https://cloud.githubusercontent.com/assets/9077612/23130324/52bd64e8-f786-11e6-8ec1-3999ffbdd9a8.png)

[2017-02-20 21:16] kelyvin commented on #35
Hi @MatteoJoliveau, can you copy and paste me exactly what you put in your footer so I can test this?

Thanks

[2017-02-21 10:57] MatteoJoliveau commented on #35
Hi @kelyvin
I just copied the snippets from caffeine's README.
[code]

[2017-02-21 19:16] kelyvin commented on #35
Hi @MatteoJoliveau,

What version of ghost are you running? Also, can you paste a screenshot of the "code injection" section of your admin console? I am not running into this issue, so I'm trying to narrow down potential issues. Thanks for the help!

[2017-02-22 09:27] MatteoJoliveau commented on #35
I'm running Ghost 1.11.4 inside a container with the official Docker image.
Here is a screenshot of the code injection page.
![image](https://cloud.githubusercontent.com/assets/9077612/23205248/70cb2a9c-f8e9-11e6-9bf4-d209dff73359.png)

[2017-02-22 19:27] kelyvin commented on #35
I'm also running Ghost 0.11.4 and copy and pasted everything that you have into my code injection and didn't run into any issues. I also doubt the Docker image is causing the issues.

Can you try opening the chrome developer tools and capturing the screenshot of the console and let me know what error messages you see? I wonder if it has to do with the content of one of your blog posts that is conf

[2017-02-26 03:36] pupboss opened #37 "I have found the solution to the block rendering problem"
The layout action would be executed after all resources finished, like this

[code]

So if there were any external resources can't be downloaded, the downloading would block the rendering.

My solution is `s.setAttribute('external_src', url)`

[code]

So that the `count.js` would not block the `load()` function.

After layout being executed, we can append a function like this

[code]

[2017-03-04 08:21] kelyvin opened #38 "Bump font-awesome version properly in package.json"
https://github.com/kelyvin/caffeine-theme/pull/36#issuecomment-282530639

[2017-03-04 08:23] kelyvin commented on #37
Hm, I am not a fan of this potential solution as I'm not a fan of using javascript for script injections.

I think there's a way we can use the capabilities of the browser to resolve the issue you're running into and prevent block rendering. I think all I need to do is simply add `async` to our external dependencies and that should resolve the issue. Since this theme also only supports IE10+ and e

[2017-03-04 14:28] #37 closed

[2017-03-13 09:03] #38 closed

[2017-03-13 09:04] kelyvin commented on #35
Since there have been no recent comments, I will close this for now. Feel free to reopen if you continue to run into any issues .

[2017-03-13 09:04] #35 closed

[2017-03-14 22:46] ChristopherA opened #40 "Adding Blog Description to Blog Header"
I have switched to caffiene-theme because the theme I was using before didn't have an active community. I appreciate that there seem to be more contributors here and more responsive to issues and pull requests.

In my old blog, the blog description (from settings general) were displayed below the blog title in the header. However, with cover set to be off in my blog, it doesn't show — only the tit

[2017-03-14 23:53] ChristopherA commented on #40
I have solved this for now by adding a blog.description to `aside.hbs`

[code]

…and changing caffeine-theme.css to add an blog-header h2 style and modify h1

[code]

However, I'm not closing this issue because:

1. The style should be added through SCSS build (but I don't have this toolchain set up).
2. I don't understand why this theme completely ignores the ghost native `@blog.description` and

[2017-03-14 23:58] ChristopherA opened #41 "Supporting Team Attribution"
Are there any plans for this theme to support the team / group blog features of Ghost, where different team members posts can be attributed, and link to author pages?

To see what I mean, see without author page http://www.livelywork.com/author/christophera/ vs with author page http://web.archive.org/web/20160422121954/http://www.livelywork.com/author/christophera/

[2017-03-15 05:42] kelyvin commented on #40
HI @ChristopherA,

Thanks for reaching out and for checking out the theme, I hope you're enjoying it so far!

The omittance of the `blog.description` from the header was an intentional design choice. This theme was designed with "mobile first" in mind. By adding the description to the header, when you open the blog from a mobile device, you'll see that you have less real estate to work with and wi

[2017-03-15 05:44] kelyvin commented on #41
That is a great question and this is definitely something I've been meaning to do, but hasn't been a priority of mine since I personally have been using this theme with one sole author (me).

I'll mock up a design that fits the style of this theme and I'll see if I can whip something up in the next week or two for ya. Stay tuned!

[2017-03-15 20:37] ChristopherA commented on #41
Thank you! I look forward to it.

[2017-03-20 00:48] kelyvin commented on #40
I made the style changes by playing around in the Chrome developer tools for fast prototyping.

You'll need to add a margin-top to the entire blog post container. So you can add a media query definition to `_media-queries.scss` with a class selector for `.page-index` and just add a `margin-top`.  For the description, in `_media-queries.scss`, add a style for `.blog-header` and add a different font

[2017-04-13 17:16] andrewlock opened #42 "Allow easier customising of AMP styles"
I finally got round to taking a look at #18 (had to upgrade ghost) and all looks great.

The only thing I think we could improve would be to make it easier to update the custom styles in line with the scss variables

I've had a play with this locally, by using the following process

1. Create an `amp-theme.scss` file
2. Add a gulp task to process and minify the file, output it to `partials/amp-the

[2017-04-17 14:31] WangRicky opened #44 "About code highlight"
I want to change code highlight color,how should I do?if you can provide some options to fast change code block color,It is very friendly to people who can't use sass.
And I want to modify markdown style or use ghost default style,which files should I modify?
Thanks!

[2017-04-19 05:33] kelyvin commented on #44
HI @WangRicky,

This theme uses [PrismJS](http://prismjs.com/) for all code syntax highlighting and the current code theme I'm using is called `okaida`.

If you'd like to switch out the code highlight color, feel free to fork this project and simply change the theme within the `gulpfile.js` as shown here: https://github.com/kelyvin/caffeine-theme/blob/c4ee52da126c1f1f9223121683f83d82cc99f7bc/gulpf

[2017-04-24 12:23] roccomuso commented on #13
thanks! +1

[2017-05-06 19:45] haimari opened #45 "PageSpeed Insights with caffeine-theme shows the attached screenshots"
maybe some improvement can be done on "../assets/css/caffeine-theme.css"

![capture4](https://cloud.githubusercontent.com/assets/11332517/25776157/7c280026-32bf-11e7-93e1-eb75e9b5dafc.PNG)

[2017-05-06 20:59] haimari opened #46 "disqus is loading in background, anyway to completely remove it from the build ?"
![capture2](https://cloud.githubusercontent.com/assets/11332517/25775871/015f3988-32b8-11e7-8f51-8fc58aa470c5.PNG)

[2017-05-06 21:07] haimari commented on #46
Disabled it by removing from: post-list-item.hbs
not sure if this is the correct way

[2017-05-06 21:49] haimari commented on #46
Removed by abstracting it from:
comments.hbs
post-list-item.hbs

[2017-05-06 21:49] #46 closed

[2017-05-06 21:59] haimari commented on #45
Maybe this will help,
https://github.com/filamentgroup/loadCSS/blob/master/README.md

[2017-05-07 00:17] ChristopherA commented on #41
Any progress on this?

[2017-05-08 02:37] kelyvin commented on #41
Hi @ChristopherA,

Thanks for checking in. I have implemented this feature in the latest release here: https://github.com/kelyvin/caffeine-theme/releases/tag/v2.9.0.

I'm still playing around the design for the `author credits` that's inserted at the end of every post, but I think this is a decent first attempt at it. Please check it and out and let me know if you run into issues or if you'd like

[2017-05-08 02:37] #41 closed

[2017-05-08 02:37] #44 closed

[2017-05-08 02:37] #40 closed

[2017-05-08 02:39] kelyvin commented on #13
Hi @Abhi347, @roccomuso,

Huge thanks for your patience. In my latest release, I have implemented this feature, which you can find here: https://github.com/kelyvin/caffeine-theme/releases/tag/v2.9.0.

I'm still playing around the design for the author credits that's inserted at the end of every post, but I think this is a decent first attempt at it. Please check it and out and let me know if you r

[2017-05-08 02:39] #13 closed

[2017-05-11 14:57] OaSiis opened #47 "Search field not working"
Hello,

I downloaded the caffeine-theme, installed it, added jQuery and other libraries.
Everything works fine except that the search field and popular tag are not working!
I get one error in the console: "Failed to load resource: the server responded with a status of 404 (Not Found)"  for the file /rss.

Can you help me please ?

[2017-05-11 18:47] kelyvin commented on #47
HI @OaSiis,

The search field uses an older version of a library called [ghostHunter](https://github.com/jamalneufeld/ghostHunter) to search within your blog. It performs searches against the RSS feed. If you are getting a 404 (Not Found) for the endpoint `/rss` of your blog. Can you confirm whether this endpoint returns an RSS feed (http://support.ghost.org/faq/find-rss-feed/)?

[2017-05-17 13:19] OaSiis commented on #47
Hi @kelyvin ,

Thanks for your answer : myblog.com/rss returns a 404 page.

[2017-05-17 14:01] kelyvin commented on #47
Since your blog is password protected, unfortunately I don't see any way around it given that this theme is currently using an older version of ghostHunter.

The latest version of ghostHunter uses ghost's beta API instead for querying, which may not be constrained by password protection. However, I do not have plans on upgrading ghostHunter until the API until it is out of BETA (you have to opt in

[2017-05-22 12:22] OaSiis commented on #47
Ok thanks for your help!

[2017-05-22 21:22] #47 closed

[2017-05-24 18:05] jwvanderbeck opened #48 "Theme not showing up after git clone?"
I did a git clone to get the theme and I see it in my themes directory alongside the default Casper.  But when I go to settings, only Casper shows up in the list.

[2017-05-24 18:16] kelyvin commented on #48
Hi @jwvanderbeck,

Off the top of my head I'm not sure what the issue may be or how to debug this without more context. So as a quick text, can you try downloading the latest release (https://github.com/kelyvin/caffeine-theme/releases/tag/v2.9.0), unzip the folder within your `themes` directory, and see if that changes anything?

[2017-05-24 18:26] jwvanderbeck commented on #48
Ok so since I was downloading it anyway I figured I would just use the "Upload Theme" option in the settings and gave it the zip file I had downloaded.  After processing it said this:

package.json file should be present."

And then it activated.  after activating the new theme, then suddenly the one I had got with git clone showed up as well lol.

Maybe that missing package.json is the issue?

[2017-05-25 22:09] kelyvin commented on #48
Uooo yah I may have forgotten to include the package.json with the release. I will make sure to fix that. Glad to hear it's working for you though!

[2017-05-25 22:09] #48 closed

[2017-05-27 07:01] andrewlock opened #49 "Printing is broken in Firefox and Edge"
A niche issue I know, but someone just flagged it to me on my blog. It prints fine on Chrome.

If you view the theme in Edge and press `ctrl+p`, the resulting print preview is mostly white, only shows the header of the blog, and is only 1 page long.

I've checked on both our blogs, so it's definitely a theme issue - we probably just need to add some print media query css

[2017-07-28 10:03] roccomuso opened #52 "Is it compatible with Ghost v1.0.0?"
Here the [migration guide](https://themes.ghost.org/docs/migrate-to-ghost-1-0-0).

[2017-07-28 18:23] kelyvin commented on #52
Hi @roccomuso,

 I have not had the opportunity to test it yet, but I believe there is a couple of pull requests right now that should help address this. My plan is to take a look at all the requests this weekend as well as upgrade to 1.0 as well.

Hope to support this new release very soon! Expect something by Monday.

Thanks!

[2017-08-12 15:02] pascalandy commented on #52
Just try it but there is few errors.

<img width="900" alt="screen shot 2017-08-12 at 11 02 16 am" src="https://user-images.githubusercontent.com/6694151/29241763-c5f897bc-7f4d-11e7-9833-ce962ca9ec38.png">

Cheers!

[2017-08-13 09:49] kelyvin commented on #52
Good news! Thanks to everyone's help, I have updated the theme to support the latest version of Ghost! You can find that in the latest [v3.0.0 release](https://github.com/kelyvin/caffeine-theme/releases/tag/v3.0.0).

Because this release was done to support the new Ghost v1.* update, please let me know if you run into any issues. Thanks for your patience and sorry for the delay!

[2017-08-13 09:49] #52 closed

[2018-01-21 22:53] jusuchin85 opened #55 "Pages with Videos are Broken in Mobile View"
Hey @kelyvin ,

Notice this on mobile view when there's a Youtube video attached:
![image](https://user-images.githubusercontent.com/1155821/35199947-e6511bba-ff59-11e7-9280-4c4b33707314.png)

When viewing the same page on a desktop browser, you can see the heading text after the same Youtube embed:
![image](https://user-images.githubusercontent.com/1155821/35199959-0a4270c8-ff5a-11e7-91ec-e557d33

[2018-01-22 05:36] kelyvin commented on #55
@jusuchin85 Thanks for reporting this issue! I will investigate right now and see if I can get a quick patch fix in.

[2018-01-22 05:50] jusuchin85 commented on #55
Great! Thanks, @kelyvin !

[2018-01-22 06:08] kelyvin commented on #55
Hi @jusuchin85, I think I fixed the issue. Can you try pulling the latest release here (https://github.com/kelyvin/caffeine-theme/releases/tag/v3.0.4) and giving it a try?

Youtube seems to be doing some code injection on video embedding, which dynamically tries to style the page. This seems to have caused issues, so I overrode their style changes with my own. Let me know if this fixes your proble

[2018-01-22 06:10] jusuchin85 commented on #55
Thanks, man! I'll give it a try again when I reach home. On the train back
now.

On Mon., 22 Jan. 2018, 17:08 Kelvin Nguyen, <notifications@github.com>
wrote:

--

<http://www.servicerocket.com/>

*We're hiring! <http://careers.servicerocket.com/jobs>*

*Who is ServiceRocket?
<https://www.youtube.com/watch?v=NRxcsnmRBXQ&utm_campaign=culture-video&utm_medium-email&utm_source=justinalex>*

Justin Al

[2018-01-22 10:55] jusuchin85 commented on #55
Thanks @kelyvin ! The fix works!

[2018-01-22 10:55] #55 closed

[2018-01-22 18:32] BMonsalvatge opened #57 "Back Arrow on Static Pages"
Found an interesting error when creating static pages.  Other than the "About" page, if you make a story with the title About and make it static, it appears that all other static pages have a back arrow that redirects to the URL domain.com/pagename/#open.

Anyone have any ideas on how to correct the URL or remove the arrow all together.  I'll be searching around and see if I can fix it myself.

[2018-01-24 22:57] kelyvin commented on #57
Can you possibly show me an example of what you're talking about? That way I can try reemulating it and see what the root cause of the problem is. That will help me determine if it's an issue with the blogging platform or with my theme. Thanks!

[2018-01-29 00:22] jusuchin85 commented on #45
This makes sense, but after discussion with @kelyvin in #56 , it's best we leave this from the main code base (as implementing this will cause the site to flash with unstyled HTML before the CSS kicks in).

If you would prefer, we would suggest implementing LoadCSS on your site 😃

[2018-02-23 18:04] BMonsalvatge commented on #57
Sorry it took me so long to get back.  You can see the issue here: https://bryanmonsalvatge.com/projects/

[2018-02-24 23:04] kelyvin commented on #57
Okay now I understand! Let me take a look and see I can find a solution for this. Stay tuned.

[2018-02-26 02:51] kelyvin commented on #57
Hi @BMonsalvatge, I have released a patch fix for the back button issue you were running into. Now if you click on the back button, it will redirect to your home page. Let me know if this works for you!

You can download the latest release here: https://github.com/kelyvin/caffeine-theme/releases/tag/v3.0.6

[2018-03-02 19:19] Prochitaem opened #59 "bourbon files are missing"
/assets/scss/bourbon-custom.scss the following files are missing:
@import '../vendor/bourbon/app/assets/stylesheets/settings/prefixer.scss';
@import '../vendor/bourbon/app/assets/stylesheets/css3/transition.scss';
@import "../vendor/bourbon/app/assets/stylesheets/addons/prefixer.scss";

They are not present also in a fresh bourbon install. May be it`s time for some refactoring ;)

[2018-03-02 20:43] kelyvin commented on #59
Thanks for reporting this issue! I'll take a look at this over the weekend and try to get a fix in for the short term.

As for the refactor, you are 100% correct. I've been meaning to refactor and do an overhaul of the entire codebase when I had some free time (i.e. integrate ES6, get off bower, fix the build-tooling, etc). Been working on other projects so time has been a little harder to find re

[2018-03-06 15:13] Prochitaem commented on #59
So @kelyvin, is there any way to compile modified theme?   (Basically, I changed only fonts).

[2018-03-13 13:30] Dedsic opened #60 "Add social_links and no icon shown"
For example I add a commet link like this
[code]
And I don't get any icon shown. Any way to solve that ?
Thank you for coding and watching this issue.

[2018-03-14 00:22] kelyvin commented on #60
Hi @Dedsic,

You may have a typo for the following line:

` <i class="fas fa-comments"></i>`

Can you remove the `s` within `fas`. So it should look like:

` <i class="fa fa-comments"></i>`

This project still uses font-awesome icon pack 4, I believe font-awesome has upgraded to 5 recently which is why you have the `fas`. I'll put in a ticket for me to update that soon. Let me know if that fixes y

[2018-03-14 00:29] kelyvin commented on #59
Hi @Prochitaem,

Huge apologies for the super late reply, finally have a moment to take a look at this.

I actually did a fresh checkout and didn't run into any compile/build issues. Which version of nodejs are you running?

Unfortunately, this project is fairly old and still uses `bower`, which is responsible for bringing in the bourbon assets. Can you also make sure you have `bower` installed gl

[2018-03-14 00:29] kelyvin commented on #57
@BMonsalvatge - since this has not been updated, I am going to close this issue. But feel free to reopen if you still have any issues!

[2018-03-14 00:29] #57 closed

[2018-03-14 00:30] kelyvin opened #61 "Upgrade to Font Awesome 5"
Get off font awesome 4 and switch to 5

[2018-03-14 00:36] kelyvin opened #62 "Refactor code to modern standards"
It's been a long time since the code has been cleaned up. It originally started as a fork of another project but has since deviated drastically. As a result, it's appropriate to make updates to the internals. The refactor the code to leverage the following:

- ES6 through Babel
- Update gulp builds or switch to webpack asset bundling
- Remove bower and switch to npm/yarn full-time
- Font awesome 5

[2018-03-16 08:09] kelyvin commented on #60
Going to close this issue, feel free to reopen if you still run into any problems!

[2018-03-16 08:09] #60 closed

[2018-03-16 08:10] kelyvin commented on #45
Yep agree with jasuchin85's reply, will close this for now.

[2018-03-16 08:10] #45 closed

[2018-03-16 09:35] Prochitaem commented on #59
Hi @kelyvin My config is:
node v6.13.1
bower v1.8.2
npm 3.10.10

I was able to compile it by manually providing required files - but that broke the resulting css and js.
Had to roll back to the original files.

[2018-03-16 09:39] kelyvin commented on #59
@Prochitaem when you say "broke the resulting css and js", what do you mean by that?

I'm guessing you're trying to run the compiled assets as a theme against Ghost, what kind of errors are you seeing on your browser tools?

[2018-03-16 09:41] Prochitaem commented on #59
Uncaught TypeError: w.FontFaceObserver is not a constructor
    at caffeine-theme.js?v=0db24c18ba:8
    at caffeine-theme.js?v=0db24c18ba:8
It shows site header part but no posts are visible :(

[2018-03-16 09:43] kelyvin commented on #59
These are with your font changes? or without?

[2018-03-16 09:51] Prochitaem commented on #59
This is with them:
_fonts.scss:
// Optimize css delivery
// @import url(https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400);
// @import '../../vendor/font-awesome/scss/font-awesome';
@import url(https://use.fontawesome.com/releases/v5.0.8/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Kurale|Roboto);

and in _variables.scss
------
$sans-font

[2018-03-16 10:14] kelyvin commented on #59
Okay perfect thanks for sending me that! I definitely know the issue.

You are correct, the issue lies within the following line:
@import url(https://use.fontawesome.com/releases/v5.0.8/css/all.css);

If you go to that CSS file directly, you'll see that it's trying to load the web fonts directly through lines of code that look like this: `url(../webfonts/fa-solid-900.woff)`. However, the problem w

[2018-03-16 11:26] Prochitaem commented on #59
No luck :(
What I did:
- changed _font.scss to
-- @import '../../vendor/font-awesome/scss/fontawesome.scss';
-- @import '../../vendor/font-awesome/scss/fa-solid.scss';
(prior to that, copied sccs directory from fa distribution to that location)
- added $fa-font-path:   "../webfonts"; to the theme _variables.scss

[2018-06-05 01:13] haiwx opened #63 "Please use "reading_time" helper"
Better compatibility for CJK .

https://github.com/TryGhost/Ghost/issues/9507

[2018-08-22 05:40] #63 closed

[2018-10-03 20:07] nickjamesio commented on #62
Hey @kelyvin,

I would love to help! I literally just got my own ghost blog hosted yesterday and forked the uno-zen theme with the intention to use it. See https://nickjames.io. Last night I stumbled on your theme and will be using yours instead.

I'm still getting the hang of ghost theme development, but I was able to make some enhancements to my fork of uno-zen. I removed bower and moved to npm,

[2018-10-03 22:42] kelyvin commented on #62
@nickjamesio You are awesome! Please let me know if you have any questions or need any help along the way as well. Would also like to leverage ES6 modules as well instead of the spaghetti JQuery workarounds.

[2018-10-03 23:32] nickjamesio commented on #62
Thanks! I am in the process of getting it setup on my local machine now. Had a few quirks to figure out since I am using docker but so far so good. I just successfully built the project using gulp so that is good :) I will definitely reach out if I get stuck or need help!

[2018-12-26 15:02] BaankeyBihari commented on #62
I have sent a pull request for Font Awesome 5. I have tested it locally.

[2018-12-28 15:09] BaankeyBihari commented on #61
I have sent a pull request regarding this

[2019-01-06 00:42] kelyvin commented on #61
Closing thanks to the changes made by @BaankeyBihari

[2019-01-06 00:42] #61 closed

[2019-01-28 06:45] kelyvin opened #71 "Fix issue with toast notifications"
Toast notifications are not properly being displayed due to an issue with toastr. This probably related to our build and the built bundle.

[2019-01-28 06:46] kelyvin opened #72 "Update close icon for subscribe button"
The original close icon for the subscribe button was being pulled from some CDN source that no longer exists, so we'll need to provide a replacement or fix for this.

[2019-01-28 06:48] kelyvin opened #73 "Remove custom features that are now provided by Ghost 2.0"
With Ghost 2.0 release, certain feature (such as tags and social links) are now provided by default. Instead of using the hacky solution we have in place, leverage the built in system by default.

[2019-02-23 21:47] #15 closed

[2019-02-23 23:21] kelyvin commented on #73
Social links have now been addressed with https://github.com/kelyvin/caffeine-theme/pull/74.

Will create a different story for addressing tags

[2019-02-23 23:21] #73 closed

[2019-02-23 23:22] kelyvin opened #75 "Remove our hacky implementation of "Tags""
As the title states, with the latest Ghost version, we no longer need our hacky management of tags. Leverage Ghost's setup instead.

[2019-02-23 23:23] kelyvin commented on #59
Closing due to my own inactivity and because I want to redo the entire build system so that this is no longer an issue. See https://github.com/kelyvin/caffeine-theme/issues/62

[2019-02-23 23:23] #59 closed

[2019-02-23 23:23] #42 closed

[2019-02-27 15:24] mattwelch opened #76 "Cards disappear in safari on first load"
Loving the theme. Starting to build and modify it a bit for my site (https://mattwelch.io). One thing I've noticed, on my site and on yours, is that on first load in Safari, all the cards on the posts home page disappear after flashing visible for a split second.

If I go to another Safari tab and then back, they reappear. It sounds kind of like [this issue](https://github.com/kelyvin/caffeine-the

[2019-02-27 18:04] mattwelch commented on #76
Note that I've removed the .fade-in style from my cards until I can get this sorted.

[2019-02-28 11:51] BaankeyBihari commented on #75
Can you elaborate more on this? Where do you want the tag implementation to change? post.hbs or tag.hbs

[2019-02-28 11:59] BaankeyBihari commented on #76
Can you try this https://github.com/kelyvin/caffeine-theme#disable-cover. If it is on your home page then this is the reason. If you don't need it, then disable and try again. Hope it helps

[2019-03-07 08:11] kelyvin commented on #76
Hi @mattwelch,

Sorry to hear about this issue and thanks for reporting it! I will look into it when I get the chance, but for now your temporary fix will do the trick.

[2019-03-07 08:18] kelyvin commented on #75
I was referring to the [tags overlay](https://github.com/kelyvin/caffeine-theme#tags-overlay) that appears when you click on the search button on the top right-hand corner of the page.

The list of tags that appears is hard coded from the following code setting:
[code]

I want to remove this hard-coded array of tags, and instead pull the list of registered tags from [ghost's content API](https://d

[2019-03-23 04:16] archervanderwaal opened #77 "Blinking occurs when the mouse cursor is placed over the code text"
When I use this theme and post, Blinking occurs when the mouse cursor is placed over the code text.

[2019-03-25 19:37] kelyvin commented on #77
When the mouse cursor is placed over code text, the theme darkens the code block so that it's easier to read.
However, if you're experiencing an issue than what I just described, can you provide further detail? What browser are you using? Is it repeatedly blinking? Can you provide a video/gif/screenshot of what's happening?

[2019-03-26 03:53] archervanderwaal commented on #77
https://resources.archervanderwaal.com/show-issue.mp4

If I want to ban this phenomenon, what should I do? In addition, I would like to ask if I can't make the syntax highlighting using prismjs. What should I do with the correct method?

[2019-03-27 02:45] kelyvin commented on #77
Oh wow can't believe I haven't noticed that before. Good catch. I will submit a patch fix tonight to resolve the issue.

For prismjs, I sent you a direct message, but here's a recap of how to enable it: All you need to do is write your code in a code block and then add the name of the language after your first set of backticks, like so:

[code]

[2019-03-27 02:57] archervanderwaal commented on #77
ok, thanks.

[2019-03-27 08:00] kelyvin commented on #77
@archervanderwaal This issue has now been fixed and I have updated the latest release (https://github.com/kelyvin/caffeine-theme/releases/tag/v4.1.0).

You should be good to go now. Thanks for reporting it!

[2019-03-27 08:00] #77 closed

[2020-03-12 06:52] TillLindemann opened #78 "Post Card is too big on the screen"
I write my first post on my blog, but the prescreen card is way too big, see it below:
![8X%RGG9)5GGN{HL697L$X6D](https://user-images.githubusercontent.com/22681439/76495022-079c7e80-6471-11ea-8e36-567d387043e9.png)

[2020-03-12 07:03] TillLindemann commented on #78
I have fix it by manually adding the Excerpt.

[2020-03-12 07:03] #78 closed

[2021-10-11 07:37] blamot opened #83 "easy disable Disqus"
What is the easy (inject) way to disable disqus?

[2021-10-18 22:44] hmobius opened #84 "Update theme to run without error on Ghost v4.0"
https://gscan.ghost.org/ reports a number of incompatibilities in using Ghost v4 with Caffeine v4.1 (which is the most recent version I could find). Most of the issues are pretty trivial but the main one is

Which points to caffeine-theme.js where there are two calls to ghost.url. But I can't see where they come from to fix this. Could you update the theme to use the most recent version of the API

[2022-05-31 08:34] #84 closed, assigned to nobody